<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script type="text/javascript">
	const emailCheck = () => {
		const email = document.getElementById("memberEmail").value;
		const checkResult = document.getElementById("check-result");
		console.log("입력값:", email);
		
		$.ajax({
			type:"post",
			url:"/member/email-check",
			data:{
				"memberEmail" : email
			},
			success: function(res){
				console.log("요청성공", res);
				if(res=="OK"){
					console.log("사용가능한 이메일");
					checkResult.innerHTML = "사용가능한 이메일";
				} else{
					console.log("이미 사용중인 이메일")
					checkResult.innerHTML = "이미 사용중인 이메일";
				}
			},
			error: function(err){
				console.log("에러발생:", err);
			}
		});
	}
</script>
</head>
<body>
<h2>회원가입</h2>

<form action="/member/save" method="post">
	이메일 : <input type="text" name="memberEmail" id="memberEmail" onblur="emailCheck()"><br>
	<span id="check-result"></span><br>
	이름 : <input type="text" name="memberName"><br>
	비밀번호 : <input type="password" name="memberPwd"><br>
	<input type="submit" value="회원가입">
</form>
</body>
</html>